<div class="menu">
    <div class="sidenav-header" *ngIf="loggedInUser" class="sidenav-header" [class.collapsed]="sideNavCollapsed()">
        
        
        </div>
        <mat-nav-list class="mat-icon-btn">
            <a mat-list-item *ngFor=" let item of menuItems()" 
            [routerLink]="item.link">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle *ngIf="!sideNavCollapsed()">{{ item.label }}</span>
            </a>
            
        </mat-nav-list>
          </div>