<div class="center-content d-flex justify-content-center align-items-center vh-100">
  <div class="example-card">
    <div class="color-barra"></div>
    <h2 class="tit">Iniciar sesión</h2>
    <form (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="username" name="username" required placeholder="Ingresa tu usuario" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="password" name="password" required type="password" placeholder="Ingresa tu contraseña" />
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button class="mat-button" type="submit">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>
