/* Estilos principales */
.example-card {
  max-width: 400px;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Sombra elegante */
  overflow: hidden; /* Evita desbordamientos */
}

/* Barra superior con degradado */


/* Estilo de título */
.tit {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #386ec0;
}

/* Estilo para botones */



.mat-button:active {
  background-color: #0a8b3c;
  transform: scale(0.98);
}

.example-form mat-form-field {
  margin-bottom: 15px; /* Espaciado entre campos */
}


.center-content{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 2%; 
}