/* Estilos generales del modal */
.modal {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.h2{
  color:burlywood
}
/* Contenedor del contenido del modal */
.modal-content {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo para el título del modal */
h2 {
  text-align: center; /* Alinea el título al centro */
}

/* Sección del formulario */
.form-control {
  width: calc(100% - 20px); /* Resta el padding */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilo para las etiquetas */
label {
  font-weight: bold;
}

/* Estilo para los botones */
.cancel-btn {
  background-color: #e42424;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.btn-save{
  background-color: #46a854;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.btn:hover {
  background-color: #0056b3;
}

.actions {
  display: flex; /* Utiliza flexbox para alinear los botones */
  justify-content: center; /* Centra horizontalmente */
  margin-top: 20px; /* Espacio superior */
}


.btn:hover {
  background-color: #0056b3;
}
.form-group {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  justify-content: space-between; /* Espacia los elementos */
  margin-bottom: 15px; /* Espacio inferior */
}

.form-group label {
  flex-basis: 30%; /* Ancho del label */
}

.form-control {
  flex-basis: 65%; /* Ancho del input/select */
}
.btn:hover {
  background-color: #0056b3;
}