<div class="pokemon-list-container">
  <h2 class="tit">Lista de Dragones</h2>
  <div class="search-container">
    <div class="filtro">
      <i class="bi bi-search"></i>
      <input 
        type="text" 
        [(ngModel)]="searchTerm" 
        (input)="applyFilter()" 
        placeholder="Buscar dragón..." 
        aria-label="Buscar dragón..."
      />
    </div>
  </div>
  
  <div class="add-dragon-button">
    <button mat-raised-button color="accent" (click)="openAddModal()">Añadir Dragón</button>
  </div>

  <!-- Contenedor para permitir desplazamiento -->
  <div class="pokemon-table-container">
    <table class="pokemon-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Rareza</th>
          <th>Elemento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dragon of dataSource">
          <td>{{ dragon.id }}</td>
          <td><img [src]="'http://127.0.0.1:8000' + dragon.imagen" alt="{{ dragon.nombre }}" class="pokemon-image" /></td>
          <td>{{ dragon.nombre }}</td>
          <td>{{ dragon.rareza }}</td>
          <td>{{ dragon.elemento }}</td>
          <td>
            <button class="action-btn info-btn" (click)="viewInfo(dragon.id)">Ver detalles</button>
            <button class="action-btn edit-btn" (click)="editDragon(dragon.id)">Editar</button>
            <button class="action-btn delete-btn" (click)="deleteDragon(dragon.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- Fin del contenedor -->
  
</div>