
<div class="settings-container">
  
      <h3 class="tit">Index Pokemones ;D</h3>
      <!-- Contenido principal -->
      <div class="search-container">
          <div class="search-label-container">
              <label for="search-input" class="search-label">Buscar:</label>
              <input type="text" id="search-input" [(ngModel)]="searchTerm" placeholder="Buscar Pokémon..." (input)="filterPokemons()" />
      </div>
  </div>
  <table class="pokemon-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of filteredData">
        <td>{{ pokemon.id }}</td>
        <td><img [src]="pokemon.image" alt="{{ pokemon.name }}" class="pokemon-image" /></td>
        <td>{{ pokemon.name }}</td>
        <td class="action-buttons">
          <button mat-icon-button class="info-btn" (click)="viewInfo(pokemon.id)" title="Ver más información">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button class="edit-btn" (click)="editPokemon(pokemon.id)" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete-btn" (click)="deletePokemon(pokemon.id)" title="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de Paginación -->
  <div class="pagination-controls">
    <button [disabled]="currentPage === 0" (click)="changePage(-1)" class="pagination-button">Anterior</button>
    <span>Página {{ currentPage + 1 }} de {{ getTotalPages() }}</span>
    <button [disabled]="currentPage >= getTotalPages() - 1" (click)="changePage(1)" class="pagination-button">Siguiente</button>
  </div>

  <!-- Modal de Información del Pokémon -->
  <ng-template mat-dialog-content>
    <div *ngIf="selectedPokemon" class="pokemon-info">
      <h2>{{ selectedPokemon.name }}</h2>
      <img [src]="selectedPokemon.image" alt="{{ selectedPokemon.name }}" class="pokemon-detail-image" />
      <p>ID: {{ selectedPokemon.id }}</p>
      <p>Descripción: {{ selectedPokemon.description }}</p>
      <!-- Agregar más detalles del Pokémon aquí -->
    </div>
  </ng-template>

  

  <main>
    <router-outlet></router-outlet>
  </main>