<div class="container">
  <h2 class="tit">Lista de Usuarios</h2>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr class="tr">
        <th >ID</th>
        <th >Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: pageSize, currentPage: page}">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.correo }}</td>
      </tr>
    </tbody>
  </table>
  <div class="contiene-pagi">

    <pagination-controls class="pagination-controls"  (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>

    <!-- Información sobre la página actual -->
    <div class="mt-2 text-center">
      Página {{ page }} de {{ (getAllUsers.length / pageSize) | number: '1.0-0' }}
    </div>
  </div> <!-- Fin del contenedor -->
</div>
