<div class="settings-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="welcome-card">
    <img mat-card-image src="assets/imagenes/drag.jpg" alt="Imagen de Poke" alt="Material Design Image">
    <mat-card-title>Bienvenido  </mat-card-title>
    <mat-card-content>
      <p>Este es nuestro proyecto de creación de apis, usuarios y dragones. Haz clic en el botón para ver nuestros dragones.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="navigateToDragons()">Ver Dragones</button>

    </mat-card-actions>
  </mat-card>
</div>