  <div class="welcome-card">
    <img class="welcome-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Bienvenido">
    <h1 class="welcome-title">¡Bienvenido!</h1>
    <p class="welcome-message">¿Con qué quieres empezar?</p>
    <p class="description">Puedes explorar dragones, ver el listado de usuarios y acceder al catálogo de dragones. ¡Da clic en comenzar para ver los dragones!</p>
    <a class="start-button" href="http://localhost:4200/sidebar/dragones" target="_blank">Comenzar</a>  </div>
