.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8; /* Color de fondo suave */
  font-family: 'Arial', sans-serif;
}

.welcome-card {
  background-color: #ffffff; /* Fondo blanco para la tarjeta */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  text-align: center;
  max-width: 400px; /* Ancho máximo de la tarjeta */
}

.welcome-image {
  width: 100%; /* Imagen responsiva */
  border-radius: 15px; /* Bordes redondeados en la imagen */
}

.welcome-title {
  font-size: 2em; /* Tamaño de fuente grande */
  color: #333; /* Color del texto */
  margin-top: 10px;
}

.welcome-message {
  font-size: 1.2em; /* Tamaño de fuente moderado */
  color: #666; /* Color gris para el mensaje */
}

.description {
  font-size: 1em; /* Tamaño de fuente normal */
  color: #777; /* Color gris claro para la descripción */
  margin-bottom: 20px;
}

.start-button {
  display: inline-block;
  padding: 10px 20px; /* Espaciado interno del botón */
  background-color: #6200ea; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  text-decoration: none; /* Sin subrayado en el enlace */}