<h2>Editar Pokémon</h2>
<form (ngSubmit)="saveChanges()">
  <div>
    <label for="edit-name">Nombre:</label>
    <input id="edit-name" [(ngModel)]="data.name" name="name" type="text" class="form-control" />
  </div>
  <div>
    <label for="edit-description">Descripción:</label>
    <textarea id="edit-description" [(ngModel)]="data.description" name="description" class="form-control"></textarea>
  </div>
  <div>
    <label for="edit-image">Imagen:</label>
    <input id="edit-image" [(ngModel)]="data.image" name="image" type="text" class="form-control" />
  </div>
  <div class="actions">
    <button type="submit" class="save-btn">Guardar</button>
    <button type="button" (click)="cancelEdit()" class="fas fa-trash">Cancelar</button>
  </div>
</form>
