/* Estilos generales del modal */
.modal {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* Contenedor del contenido del modal */
.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo para el título del modal */
h2 {
    text-align: center; /* Alinea el título al centro */
}

/* Sección del formulario */
.form-control {
    width: calc(100% - 20px); /* Asegura que el input ocupe todo el ancho disponible */
    padding: 10px; /* Aumenta el padding para hacerlo más grande */
    margin-bottom: 15px; /* Espacio inferior */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
}

/* Estilo para las etiquetas */
label {
    font-weight: bold;
}

/* Estilo para los botones */
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.actions {
    display: flex; /* Utiliza flexbox para alinear los botones */
    justify-content: center; /* Centra horizontalmente los botones */
    margin-top: 20px; /* Espacio superior */
}

.btn {
    margin: 0 10px; /* Espacio entre los botones */
}/* Estilo para los botones */
.cancel-btn {
  background-color: #e42424;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.save-btn{
  background-color: #46a854;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.btn:hover {
  background-color: #0056b3;
}
