<div class="modal">
  <div class="modal-content">
      <h2 class="h2">Detalles del Dragón</h2>

      <div class="card-section">
          <label class="nombrelabel">{{ data.nombre }}</label>
          <div class="image-container">
              <img
                  [src]="'http://127.0.0.1:8000' + data.imagen"
                  alt="{{ data.nombre }}"
                  class="dragon-image"
              />
          </div>
      </div>

      <div class="card-section">
          <label>Descripción:</label>
          <span>{{ data.descripcion }}</span>
      </div>

      <div class="card-section">
          <label>Rareza:</label>
          <span>{{ data.rareza }}</span>
      </div>

      <div class="card-section">
          <label>Elemento:</label>
          <span>{{ data.elemento }}</span>
      </div>

      <div class="actions">
          <button type="button" (click)="close()" class="btn back-btn">
              Cerrar
          </button>
      </div>
  </div>
</div>